body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: darksalmon;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size:32px ;
}

h2 {
    color: darksalmon;
}

h3 {
    color: cornflowerblue;
}

img {
    max-width: 100%;
    height: auto;
    
}
